@import '../../global/main.scss';

.tab-bar {
  &__nav {
    width: 100%;
    background-color: #041125;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0;
    font-size: 1.2rem;
    justify-content: center;
    margin-top: 1rem;
  }

  &__item {
    color: #f3f4f4;
    font-size: 0.7rem;

    @include tablet {
      font-size: 2rem;
      padding: 10px 60px 10px 60px;
    }
  }
}
