/*

LOGIN PAGE STYLES STYLES

*/

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-image: linear-gradient(to right top, #041125, #243248, #46556e, #6a7b97, #8fa4c2);
}

.todo-login {
  margin-top: 30px;

  @mixin mediumScreen {
    margin-top: 180px;
  }
}

.todo-login-button {
  margin-top: 30px;
}

.todo-login-text {
  font-size: 0.7em;

  @mixin mediumScreen {
    font-size: 1em;
  }
}