/*

INPUT SECTION STYLES

*/

.app-title {
  font-family: 'Life Savers', cursive;
  /*font-weight: bold;*/
  font-size: 2.5em;
  /*letter-spacing: -2px;*/
  color: #fff;

  @mixin mediumScreen {
    font-size: 3.5em;
    /*letter-spacing: -3px;*/
  }

}

.app-subtitle {
  display: inline-block;
  padding-left: 10px;
  font-size: 0.7em;
  color: #fff;
  transform: translateY(-1px);
  /*font-weight: bold;*/

  @mixin mediumScreen {
    font-size: 0.9em;
    padding-left: 15px;
    transform: translateY(-3px);
  }

}

.todo-form {
  margin-top: 5px;
}

#todo-input {
  font-size: 0.8em;

    @mixin mediumScreen {
      font-size: 1em;
    }
}

.todoButton {
  background-color: #332e51;
  padding: 12px;
  color: #fff;
  font-size: 0.7em;

  @mixin mediumScreen {
    font-size: 1em;
  }

  &:hover {
    background-color: #5b5192;
    cursor: pointer;
  }
}

.card {
  max-width: 500px;
  margin: 0 auto;
}

.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right top, #041125, #243248, #46556e, #6a7b97, #8fa4c2);
  /*background-image: url('../../images/background.jpg');*/
  border-bottom: 1px dashed rgba(51, 46, 81, 0.3);

    @mixin mediumScreen {
      padding-bottom: 30px;
    }
}

.todo-nav {
  width: 100%;
  background-color: #041125;
  border-radius: .3rem;
  padding: 0px;
  font-size: 1.2em;
  /*text-transform: uppercase;*/
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #8FA4C2;
  color: #041125;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  /*box-shadow: 0px 0px 53px -8px rgba(0,0,0,0.44);}*/
}

.nav-item a {
  color: #fff;
  font-size: 0.7em;
  /*padding: 1px 70px 1px 70px;*/

  @mixin mediumScreen {
    font-size: 1em;
    padding: 10px 60px 10px 60px;
  }
}

.tab-content {
  margin-top: 70px;
}